{% extends "base.html" %}
   {% load static %}

   {% block content %}

<!-- Main Wrapper -->
<div class="main-wrapper login-body mt-5">
  <div class="login-wrapper">
    <div class="container">
    
      
      
              <!-- ADDED -->
              <div class="col-md-7 ">
                <div class="card-body">
                  <p class="login-card-description">Enter your email to reset password</p>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email here">
                      </div>
                      <input name="login" id="login" class="btn btn-danger login-btn mb-4" type="submit" value="Reset">
                    </form>
                    <p class="login-card-footer-text"><a class="" href="{% url 'login' %}" class="text-reset">Back to login</a></p>
                </div>
              </div>
              </div>
            </div>
          </div>
        <!-- ADDED -->

        {% endblock content %}

      