{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Main Wrapper -->
  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container">
        <div class="container">
          <div class="card login-card">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="{% static 'img/forgetpass.jpg' %}" alt="login" class="login-card-img">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <p class="login-card-description">Enter new password</p>
                  {% if form.errors %}
                    <div class="alert alert-danger">
                      <strong>Error:</strong> Please correct the following errors.
                      <ul>
                        {% for error in form.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  {% if reset_successful %}
                    <div class="alert alert-success">
                      Your password has been reset successfully. You can now <a href="{% url 'login' %}">login</a>.
                    </div>
                  {% endif %}
                  <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                      {{ form.new_password1.label_tag }}
                      {{ form.new_password1 }}
                    </div>
                    <div class="form-group mb-4">
                      {{ form.new_password2.label_tag }}
                      {{ form.new_password2 }}
                    </div>
                    <input name="login" id="login" class="btn btn-primary  mb-4 mt-5" type="submit" value="Reset">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
      </div>
    </div>
  </div>
{% endblock content %}
