{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock head %}

{% block content %}
<section class="home swiper" id="home">
    <div class="swiper-wrapper">
        <div class="swiper-slide container">
            <div class="home-text">
                <span>We are Academi-Connect</span>
                <h1>Choose The Best Notes <br>For You</h1>
                <a href="#" class="button"> Learn Now<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="{% static "img/machine learning.png" %}" alt="">
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide container">
            <div class="home-text">
                <span>We are Academi-Connect</span>
                <h1>Choose The Best Notes <br>For You</h1>
                <a href="#" class="button">Learn Now<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="{% static "img/studying.png" %}" alt="">
            </div>
           