{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock head %}

{% block content %}
<section class="home swiper" id="home">
    <div class="swiper-wrapper">
        <div class="swiper-slide container">
            <div class="home-text">
                <span>We are Academi-Connect</span>
                <h1>Choose The Best Notes <br>For You</h1>
                <a href="#" class="button"> Learn Now<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="{% static "img/machine learning.png" %}" alt="">
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide container">
            <div class="home-text">
                <span>We are Academi-Connect</span>
                <h1>Choose The Best Notes <br>For You</h1>
                <a href="#" class="button">Learn Now<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="{% static "img/studying.png" %}" alt="">
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide container">
                <div class="home-text">
                    <span>We are Academi-Connect</span>
                    <h1>Choose The Best Notes <br>For You</h1>
                    <a href="#" class="button">Learn Now<i class='bx bx-right-arrow-alt'></i></a>
                </div>
                <img src="{% static "img/graduate.png" %}" alt="">
                </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      
</section>
<!-- courses -->
<section class="courses" id="courses">
    <div class="heading">
        <h1>Course View <br><span>Courses</span></h1>
            <a href="/all-courses" class="button">View All<i class='bx bx-right-arrow-alt'></i></a>
    </div>
    <!-- Container Content -->
    <div class="courses-conatiner">
        {% for category in course_categories %}
        <div class="box box1">
            <img src="{{ category.thumbnail.url }}" alt="{{ category.name }}">
            <h2>{{ category.name }}</h2>
            <span>{{ category.courses.count }} Items</span>
            <a href="{% url 'course-by-category' category.id %}"> <i class='bx bx-right-arrow-alt'></i></a>
        </div>
        {% endfor %}

       
    </div> 
</section>
