{% extends "base.html" %}
   {% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/law.css' %}">

    {% endblock head %}
    {% block content %}
    
    <div class="card-container  ">
        <!-- Sample card -->
        <!-- Repeat this structure dynamically using scripting/loops -->
        <div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <a href="/subjets_details">
                    <h2>Introduction to Law and Legal System</h2>

                </a>

                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div>
        <div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div><div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div><div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div><div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div><div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div><div class="card">
            <img src="../static/img/law.png" alt="Image 1">
            <div class="card-info">
                <h2>Introduction to Law and Legal System</h2>
                <p>Description 1Description 1Description 1Description 1Description 1...</p>
                <p class='test-disabled'>Khushbu Rajak</p>
            </div>
            <div class="card-footer">
                <p class="price">Rs.19.99</p>
                <button class="purchase-btn">Purchase</button>
            </div>
        </div>
    </div>
    
    {% endblock content %}
    
