{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/readCourse.css' %}">
{% endblock head %}

{% block content %}
<div class="chapters-container">
    <div class="chapters-list">
        {% for chapter in chapters %}
            <div class="chapter-item" onclick="showChapterContent('{{ chapter.id }}')" id="chapter{{ chapter.id }}">{{ chapter.title }}</div>
        {% endfor %}
    </div>
    <div class="chapter-content" id="chapterContent">
        <p>Select a chapter to read its content.</p>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function showChapterContent(chapterId) {
        const chapterContent = document.getElementById("chapterContent");
        chapterContent.innerHTML = "";

        const chapterItems = document.querySelectorAll('.chapter-item');
        chapterItems.forEach(item => {
            item.classList.remove('active');
        });

        const activeChapter = document.getElementById(`chapter${chapterId}`);
        activeChapter.classList.add('active');

        // Retrieve chapter content via AJAX or any Django view endpoint
        fetch(`/get_chapter_content/${chapterId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.content_type === 'text') {
                    chapterContent.innerHTML = `<h2>${data.chapter_title}</h2><p>${data.text_content}</p>`;
                } else if (data.content_type === 'pdf') {
                    chapterContent.innerHTML = `<object data="${data.pdf_url}" type="application/pdf" width="100%" height="500px">
                        <p>PDF viewer is not supported in your browser. <a href="${data.pdf_url}">Click here to view PDF.</a></p>
                    </object>`;
                }
            })
            .catch(error => {
                console.error('Error fetching chapter content:', error);
                chapterContent.innerHTML = "<p>Error loading chapter content.</p>";
            });
    }
</script>
{% endblock script %}
