<html>
<body>
    <p><strong>Subject:</strong> Password Reset on {{ site_name }}</p>

    <p>
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
    </p>

    <p>
        Please click the following link to reset your password:
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
    </p>

    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>

    <p>Thanks for using our site!</p>

    <p>The {{ site_name }} team</p>
</body>
</html>
