{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock head %}
<!-- Navbar -->
<header>
    <a href="/" class="logo"><i class='bx bxs-book-reader' ></i>AcademiConnect</a>
    <!-- Menu Icon -->
    <div class="bx bx-menu" id="menu-icon"></div>
    <!-- Nav List -->
    <ul class="navbar">
        <li><a href="/" class="home-active">Home</a></li>
        <li><a href="/all-courses">Courses</a></li>
        <li><a href="#progress">Progress</a></li>
        <li><a href="#students">Students</a></li>
        <li><a href="#about">About</a></li>
        
    </ul>
    <!-- profile -->
    <div class="profile">
        <i class='bx bxs-user-circle'></i>
        <span>Aakriti Yadav</span>
        <i class='bx bx-caret-down' ></i>
    </div>
</header>